## Database Creation
In order to start this project out on a scalable platform, I've opted to create a cloud database for the sensor data. I've selected Oracle Cloud as my database service.

Virtual Cloud Netowrk (VCN): <b>vcn-20221225-2055</b>

Subnet: <b>subnet-20221225-2055(regional)</b>

Hostname prefix: <b>wasensordb</b>

Host domain name: <b>subnet12252101.vcn12252101.oraclevcn.com</b>

Host and domain URL: <b>wasensordb.subnet12252101.vcn12252101.oraclevcn.com</b>

DB system name: <b>motion-sensorVMDB</b>

The database name is : <b>WAMSDB01</b>

Admin Credentials: <b>sys : puxt1n-woFcyw-teqWo8</b>

The systems database is currently provisioning, unknown time to completion.

## DB ready to go
The database is all set and ready to go. I had some trouble connecting via SSH using PuTTY <br /> because the private key was being rejected. This was fixed by converting the Oracle generated <br /> Private Key to a `.ppk` using PuTTYgen. Once connected I followed steps from a YouTube video to do some quick checks on the database. Here is the output from the SSH connection:
```
login as: opc
Authenticating with public key "imported-openssh-key"
Last failed login: Mon Dec 26 05:16:43 UTC 2022 from 172.58.180.37 on ssh:notty
There were 3 failed login attempts since the last successful login.
[opc@wasensordb ~]$ ps -ef | grep smon
root     33966     1  0 04:14 ?        00:00:42 /u01/app/19.0.0.0/grid/bin/osysmond.bin
grid     45772     1  0 04:18 ?        00:00:00 asm_smon_+ASM1
opc      60118 59462  0 05:38 pts/0    00:00:00 grep --color=auto smon
oracle   83463     1  0 04:36 ?        00:00:00 ora_smon_WAMSDB01
[opc@wasensordb ~]$ sudo su - oracle
Last login: Mon Dec 26 05:39:04 UTC 2022
[oracle@wasensordb ~]$ sqlplus "/as sysdba"

SQL*Plus: Release 19.0.0.0.0 - Production on Mon Dec 26 05:40:41 2022
Version 19.17.0.0.0

Copyright (c) 1982, 2022, Oracle.  All rights reserved.


Connected to:
Oracle Database 19c Standard Edition 2 Release 19.0.0.0.0 - Production
Version 19.17.0.0.0

SQL>
```

In [2]:
import pandas as pd

In [7]:
accel = pd.read_csv(r"C:\Users\Kristopher\OneDrive\Data\Motion Tracking\Trailer\2022_12_18\Accelerometer.csv")

In [9]:
accel.describe()

               time  seconds_elapsed             z             y             x
count  7.132700e+04     71327.000000  71327.000000  71327.000000  71327.000000
mean   1.671364e+18       359.243989     -0.365314      0.157944      0.119974
std    2.073823e+11       207.382277      2.824941      2.217995      2.410796
min    1.671363e+18         0.056589    -46.002200    -19.467845    -18.055764
25%    1.671363e+18       179.649308     -1.505341     -0.775873     -1.073619
50%    1.671364e+18       359.243521     -0.386049     -0.058835      0.027121
75%    1.671364e+18       538.838387      0.538346      0.685534      1.171156
max    1.671364e+18       718.435233     72.246031     31.112234     21.706625

In [10]:
accel = accel.sort_values('time')

In [11]:
accel.head(20)

                   time  seconds_elapsed         z         y         x
0   1671363197368588800         0.056589 -0.376807 -0.476102 -0.523271
1   1671363197378659600         0.066660 -0.464536 -0.436861 -0.341396
2   1671363197388730600         0.076731 -0.551742 -0.307449 -0.244851
3   1671363197398802400         0.086802 -0.494316 -0.274486 -0.108583
4   1671363197408873500         0.096874 -0.537938 -0.225641  0.013983
5   1671363197418944500         0.106945 -0.472987 -0.072186  0.077271
6   1671363197429015600         0.117016 -0.389872  0.182663  0.172772
7   1671363197439086600         0.127087 -0.345035  0.343904  0.268157
8   1671363197449157400         0.137157 -0.445262  0.394702  0.294982
9   1671363197459228400         0.147229 -0.424998  0.325983  0.331410
10  1671363197469299500         0.157300 -0.305893  0.252606  0.342019
11  1671363197479371500         0.167372 -0.294437  0.205795  0.338953
12  1671363197489442600         0.177443 -0.411169  0.239069  0.446330
13  1671363197499513600         0.187514 -0.492800  0.298241  0.565851
14  1671363197509584600         0.197585 -0.517701  0.262383  0.561145
15  1671363197519658800         0.207659 -0.499030  0.244299  0.520111
16  1671363197529729500         0.217729 -0.461530  0.241310  0.466060
17  1671363197539800600         0.227801 -0.381702  0.188999  0.417289
18  1671363197549871600         0.237872 -0.317470  0.233017  0.403906
19  1671363197559943700         0.247944 -0.270774  0.286542  0.447498